#app {
    width: 90%;
    margin: auto;
    box-shadow: 1px 1px 5px 0 black;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

nav {
    background: #7B72D8;
    color: #120873;
}

nav .pick {
    background: #FFE073;
    font-weight: 600;
}

nav ul {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 14px;
}

nav li {
    padding: 5px 10px 5px 10px;
    list-style-type: none;
    display: inline-block;
}

#sender {
    width: 25%;
    height: 100%;
    margin: 30px 0 0 0;
    padding: 10px 0 0 2%;
    float: right;
    border-left: 1px solid #eee;
}

#sender input {
    margin-bottom: 10px;
}

input[type="text"]:focus {
    color: #000000;
    border: 1px solid #000000
}

input[type="text"] {
    border: 1px solid #cccccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff !important;
    outline: none;
    height: 24px;
    width: 90%;
    color: #cccccc;
    padding-left: 5px;
    font-size: 11px;
    font-family: Tahoma;
}

#sender select {
    margin-bottom: 10px;
}

#sender textarea {
    resize: none;
    border: 1px solid #cccccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff !important;
    outline: none;
    height: 60px;
    width: 90%;
    color: #cccccc;
    padding-left: 5px;
    font-size: 11px;
    font-family: Tahoma;
}

#sender textarea:focus {
    color: #000000;
    border: 1px solid #000000
}

#story {
    display: table;
    border-collapse: collapse;
    width: 70%;
}

.story_row {
    display: table-row;
}

.story_cell {
    display: table-cell;
    padding: 2px;
    border: 1px solid #dbdbdb;
    text-align: center;
}

#footer {
    background-color: #DDD;
    height: 100px;
}

#footer > p {
    float: right;
    position: relative;
    margin: 0px 10px 0px 0px;
    top: 80px;
}
