body {
    margin: 0px;
}

nav li {
    list-style-type: none;
    display: inline-block;
    margin-right: 30px;
}

.sender {
    margin: 20px 0px 0px 20px;
}

#story {
    display: table;
    margin: 20px;
}

.story_row {
    display: table-row;
}

.story_cell {
    display: table-cell;
    padding: 10px;
    width: 100px;
}

#footer {
    background-color: #DDD;
    height: 100px;
}

#footer > p {
    float: right;
    position: relative;
    margin: 0px 10px 0px 0px;
    top: 80px;
}
