body {
    background: #999;
}

#app {
    width: 1200px;
    margin: 15px auto;
    box-shadow: 1px 1px 5px 0 black;
    background: #fafafa;
    font-family: Arial;
    font-size: 14px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.right-nav {
    float: right;
    background: #f6ff93;
}

.overflow {
    overflow-y: auto;
    height: 300px;
    width: 70%;
}

nav {
    background: #7B72D8;
    color: #120873;
}

nav .pick {
    background: #AFAAFA;
}

nav ul {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav li {
    padding: 5px 10px 5px 10px;
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
}

nav li:hover {
    background: #AFAAFA;
    cursor: pointer;
}

#sender {
    width: 25%;
    height: 100%;
    margin: 15px 0 0 0;
    padding: 10px 10px 0 2%;
    float: right;
    border-left: 1px solid #eee;
}

#sender input {
    margin-bottom: 10px;
}

#sender input[type="text"]:focus {
    color: #000000;
    border: 1px solid #000000
}

#sender input[type="text"] {
    border: 1px solid #cccccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff !important;
    outline: none;
    height: 24px;
    width: 90%;
    color: #000;
    padding-left: 5px;
    font-size: 11px;
    font-family: Tahoma;
}

#sender select {
    margin-bottom: 10px;
}

#sender textarea {
    resize: none;
    border: 1px solid #cccccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff !important;
    outline: none;
    height: 60px;
    width: 90%;
    color: #000;
    padding: 5px 0 0 5px;
    font-size: 11px;
    font-family: Tahoma;
    margin: 5px 0 5px 0;
}

#sender textarea:focus {
    color: #000000;
    border: 1px solid #000000
}

#story {
    display: table;
    border-collapse: collapse;
    width: 99%;
    max-width: 900px;
}

.story_row {
    display: table-row;
}

.story_cell {
    width: 25%;
    display: table-cell;
    padding: 2px;
    text-align: center;
    border: 1px dashed #dbdbdb;
    font-size: 12px;
}

#story .header {
    background: #e8e8e8;
    border: 1px solid #dbdbdb;
    font-size: 14px;
}

#totals {
    margin: 30px 0 10px 30px;
}

#totals > p {
    margin: 5px 0 0 0;
}

#footer {
    background-color: #DDD;
    height: 100px;
}

#footer > p {
    float: right;
    position: relative;
    margin: 0px 10px 0px 0px;
    top: 80px;
}

#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-content: center;
}

#login-div {
    margin: auto;
    width: 400px;
    height: 200px;
    border-radius: 3px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 200;
}

#signin-div {
    margin: auto;
    width: 400px;
    height: 500px;
    border-radius: 3px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 200;
}

#cover-div form {
    display: block;
    width: 300px;
    margin: auto;
}

#cover-div p {
    margin: 0 auto;
    margin-bottom: 5px;
}

#cover-div input[type='text'], #cover-div input[type='password'] {
    border: 1px solid #cccccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff !important;
    outline: none;
    height: 24px;
    width: 90%;
    color: #000;
    padding-left: 5px;
    font-size: 11px;
    font-family: Tahoma;
    margin: 0 0 10px 0;
}

#signin-div input[type='text']:focus, #login-div input[type='text']:focus, #signin-div input[type='password']:focus, #login-div input[type='password']:focus {
    color: #000000;
    border: 1px solid #000000
}

#floatingCirclesG{
	position:relative;
	width:54px;
	height:54px;
	margin:auto;
    top: 40%;
	transform:scale(0.6);
		-o-transform:scale(0.6);
		-ms-transform:scale(0.6);
		-webkit-transform:scale(0.6);
		-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:10px;
	width:10px;
	border-radius:5px;
		-o-border-radius:5px;
		-ms-border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
	animation-name:f_fadeG;
		-o-animation-name:f_fadeG;
		-ms-animation-name:f_fadeG;
		-webkit-animation-name:f_fadeG;
		-moz-animation-name:f_fadeG;
	animation-duration:1.2s;
		-o-animation-duration:1.2s;
		-ms-animation-duration:1.2s;
		-webkit-animation-duration:1.2s;
		-moz-animation-duration:1.2s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:22px;
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#frotateG_02{
	left:6px;
	top:6px;
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#frotateG_03{
	left:22px;
	top:0;
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}

#frotateG_04{
	right:6px;
	top:6px;
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}

#frotateG_05{
	right:0;
	top:22px;
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}

#frotateG_06{
	right:6px;
	bottom:6px;
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}

#frotateG_07{
	left:22px;
	bottom:0;
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}

#frotateG_08{
	left:6px;
	bottom:6px;
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
	0%{
		background-color:rgb(97,97,97);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:rgb(97,97,97);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:rgb(97,97,97);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:rgb(97,97,97);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:rgb(97,97,97);
	}

	100%{
		background-color:rgb(255,255,255);
	}
}
